@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  
}
/*este es el Rem de body*/
body{
    background:#363232; 
    font-family: 'Poppins', sans-serif;
    color: #EEE4EC; 
    font-size: 16px;
}
header{
    width: 100%;
    height: 40.75em;
    background: url(image/background-01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
header img{
    width: 8.437em;
    height: 6.5em;
}
.container{
    margin-left: 7.25em ;
}
#card{
    background-color: #7C30A1;
    width: 90%;
    height: 30.062em;
    border-radius: 20px;
}
.logo{
   /* margin-left: 116px;*/
    display: flex;
}
#card .indice{
  
    display: flex;
    align-items: center;
   justify-content: space-around;
}
.indice h2{
    margin-top: .562em;
}
.indice a{
    margin-top: 1.125em;
    color: aliceblue;
    text-decoration: none;
}
.indice a:hover{
    color: #B6CF7B;

}
#molecule{
    width: 100%;
   display: flex
}
#cont_botones{
    width: 60%;
    height: auto;
}
#child{
    width: 40%;
    height: auto;
}
#rect_grand{
    border: .3em solid #fff;
    width: 85%;
    height: 15.312em;
    margin: 2.625em 0 0 3.812em;
    border-radius: 1.25em;
    text-align: center;
    
}
#rect_grand h1{
    margin-top: .875em;
}
 #cont_botones #rect_grand h1 span{
    color: #B6CF7B;
     font-weight: 600;
}
.botones{
    width: 95%;
    display: flex;
}
.botton_p{
    width: 15.562em;
    height: 3.812em;
    margin: 1.125em 0 0 3.812em;
    border: .3em solid #fff;
    border-radius: 1.25em;
    text-align: center;
     
}
.botton_p a{
    text-decoration: none;
    color: #fff;
    padding: 1.2em .937em;
    display: inline-block;
   
}
.botton_green{
    width: 15.562em;
    height: 3.812em;
    margin: 1.125em 0 0 3.812em;
    border: .3em solid #B6CF7B;
    border-radius: 1.25em;
    text-align: center;
}
.botton_green a{
    text-decoration: none;
    color: #B6CF7B;
    padding: 1.2em .937em;
    display: inline-block;
}
.botton_p:hover{
    border-color: #5F4BB6;
    color: #5F4BB6;
     
}
.botton_green:hover{
    border-color: #5F4BB6;
    color: #5F4BB6;
     
}
#molecule #child img{
    margin-top: 1.375em;
    width: 20.125em;
    margin-left: 4em;
    height: auto;
   
}
/*aqui ponemos el cuerpo de la pagina*/
.texto_container{
    width: 90%;
    display: flex;
    margin-top: 6.187em;
}
.container_tipo{
    width: 90%;
    display: flex;
    margin-top: 6.187em;
}
.titulo{
   width: 25%; 
}
.texto{
    width: 75%;
    display: flex;
    justify-content: space-around;
}
.rec{
     background-color: #363232;
    width: 15.875em;
    height: 8.875em;
    border-radius: 20px;
    
}

/*barra de colores*/

.color_rect{
    background-color: #fff;
     width: 20%;
    height: 3.812em;
    margin-bottom: 3.125em;
}

#azul{
    background-color: #5F4BB6;
}
#morado{
    background-color: #8021B0;
}
#verde{
    background-color: #B6CF7B;
}
#blanco{
    background-color: #EEE4EC;
}
#magenta{
    background-color: #CB99E4;
}
/*slider*/

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 95%;
  height: 37.5em;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
    
}

ul.slider li img{
  width: 100%;
  height: 37.5em;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu{
  width: 86%;
  text-align: center;
  margin: 30px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  text-decoration: none;
  background-color: #B6CF7B;
    color: #fff;
  padding: .625em;
  width: 1.275em;
  height: 1.275em;
  font-size: 16px;
  border-radius: 1em;
}
.texto img{
    width: 50%;
}
.cont_imagen{
    width: 75%;
    margin-left: 22.5%;
    margin-top: 1.125em;
    display: flex;
    
}
.cont_imagen .imagen1 img{
    width: 20.437em;
    margin-right: 2em;
}
.cont_imagen .imagen2 img{
    width: 13.25em;
    margin-right: 1.125em;
}
/*barra de navegacion del main*/
.navbar{
    width: 100%;
    height: 3.75em;
    background-color: #202021;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    
}
.navbar a{
    text-decoration: none;
    color: #fff;
    margin-top: 1.1em;
}
.navbar h2{
    margin-top: .6em;
    margin-left: 1em;
}
.navbar a:hover{
    color: #7C30A1;
}
#banner{
    width: 100%;
    height: 32.625em;
    margin-top: 6.5em;
     background: url(image/parcial3_personaje.jpg);
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}
#banner img{
    margin: 5.062em 0 0 1.937em;
      width: 24.5em;
    height: 22.5em;
}
#banner h1{
    margin-top: 1.062em;
    font-size: 4em;
}
#banner span{
    color: #B6CF7B;
}
#sign {
    width: 100%;
   
   
}
#sign .cont_logo {
    text-align: center;
    margin: 10% 0 5%;;
}

footer{
    width: 100%;
    height: 10.062em;
    display: flex;
    background-color: #2e2d2d;
    justify-content: space-around;
}
footer .row{
    margin-top: 1.5em;
}
@media screen and (max-width:1200px){
    body{font-size: 14px;}
}
@media screen and (max-width:992px){
    body{font-size: 12px;}
}
@media screen and (max-width:768px){
    body{font-size: 10px;}
    .container_tipo{
        display: block;
    }
    #tipo_cards{
        width: 100%;
    }
}
@media screen and (max-width:576px){
    body{font-size: 8px;}
    /*#child{display: none;}*/
    .botones{
        display: inline;
    }
    .botton_p{width: 85%;}
    #card{height: 35em;}
    .botton_green{width: 85%;}
    .navbar{display: none;}
}
@media screen and (max-width:400px){
    body{font-size: 5px;}
    
}